<div class="replies">
  <% post.replies.each do | reply | %>
    <div class="all-replies">
      <p><%= reply.reply %> (-<%= reply.user.username %>)</p>
    </div>
  <% end %>
  
  <%= render 'replies/new_reply_form', post: post %>
</div>
