<%= form_tag post_replies_path(post.id) do %>
  <div class="reply-form">
    <%= label_tag :reply %><br/>
    <%= text_field_tag :reply, params[:reply] %>
    <div><%= submit_tag "Reply" %></div>
  </div>
<% end %>
