html {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  background-color: #DEDDDC;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
  color: #5F4654;
  margin-left: 20px;
}

.greeting{
  text-align: center;
  font-size: 18pt;
}

.new_post {
  padding: 10px;
}

.add-post {
  margin: auto;
  width: 80%;
}

.add-post p {
  line-height: 1;
}

#post_text {
  width: 100%;
}

.submit-the-post {
  margin: auto;
  width: 20px;
  padding-top: 15px;
}

.post-and-replies {
  border: 2px solid #6B7F82;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  padding-bottom: 10px;
}

.post-and-replies p {
  margin-left: 15px;
}

.post-text {
  padding: 20px;
  font-size: 16pt;
}
