html {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  background-color: #DEDDDC;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
  color: #5F4654;
  margin-left: 20px;
}

.post-and-replies {
  border: 1px solid lightgrey;
}
